## Importando bilioteca Bibliotecas

In [ ]:
!pip install boto3

## Acessando Nuvem AWS

In [2]:
key= "###########"
access= "###########"
token= "#############"

## Importando Biblioteca boto 3

In [3]:
# a bilbioteca boto3 permite acessar os serviços da AWS 
import boto3

# Acessando o Dynamodb via biblioteca boto3
dynamodb = boto3.resource('dynamodb', aws_access_key_id=key,
                        aws_secret_access_key=access,
                        aws_session_token=token
                       ,region_name = "us-east-1", use_ssl=False)

In [ ]:
# Criando uma tabela não relacional no Dynamodb. 

table_name = 'funcionario' #Nome da tabela
#Parametros de criação
params = {
        'TableName': table_name, #nome da tabela
        #Esquema das chaves
        'KeySchema': [
            {'AttributeName': 'MATRICULA', 'KeyType': 'HASH'}, # hash será a chave primaria
            {'AttributeName': 'VERSAO', 'KeyType': 'RANGE'} #range, não obrigatória, formaria uma chave composta
        ],
        #Tipo de dados da chave
        'AttributeDefinitions': [ 
            {'AttributeName': 'MATRICULA', 'AttributeType': 'S'}, #S de string
            {'AttributeName': 'VERSAO', 'AttributeType': 'N'} #N de number
        ],
        #Configuração de escrita e leitura por segundo
        'ProvisionedThroughput': {
            'ReadCapacityUnits': 3,
            'WriteCapacityUnits': 3
        }
    }

In [ ]:
dynamodb.create_table(**params)

dynamodb.Table(name='funcionario')

In [6]:
dynamodb.Table(name='funcionario')

dynamodb.Table(name='funcionario')

#### Inserindo valores manualmente.

In [ ]:
table = dynamodb.Table("funcionario")
table.put_item(
   Item={"MATRICULA":'1010',
        'VERSAO':1,
        'NOME': 'CLAYTON SOUZA',
        'CARGO': 'ANALISTA JUNIOR',
        'TELEFONE': ["22381823","2291012"],
        'DATA_ATUALIZAÇÃO': '202120101',
        'TIPO SANGUINIO':'A',
        'CNH': '24343455324'
    })

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '2',
   'content-type': 'application/x-amz-json-1.0',
   'date': 'Wed, 14 Apr 2021 01:32:25 GMT',
   'x-amz-crc32': '2745614147',
   'x-amzn-requestid': 'FBU89DF6ERQHK6QLIG1HDP73P7VV4KQNSO5AEMVJF66Q9ASUAAJG'},
  'HTTPStatusCode': 200,
  'RequestId': 'FBU89DF6ERQHK6QLIG1HDP73P7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'RetryAttempts': 0}}

In [7]:
table = dynamodb.Table("funcionario")
table.put_item(
   Item={"MATRICULA":'1020',
        'VERSAO':1,
        'NOME': 'FERNANDES LIMA',
        'CARGO': 'ENGENHEIRO',
        'TELEFONE': ["953434343"],
        'DATA_ATUALIZAÇÃO': '202120101',
        'TIPO SANGUINIO':'',
        'CNH': '1121323213'
           })

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '2',
   'content-type': 'application/x-amz-json-1.0',
   'date': 'Wed, 14 Apr 2021 23:09:14 GMT',
   'x-amz-crc32': '2745614147',
   'x-amzn-requestid': '5MFGO1AJNB7O5IA6QJFSE1FOPNVV4KQNSO5AEMVJF66Q9ASUAAJG'},
  'HTTPStatusCode': 200,
  'RequestId': '5MFGO1AJNB7O5IA6QJFSE1FOPNVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'RetryAttempts': 0}}

In [8]:
table = dynamodb.Table("funcionario")
table.put_item(
   Item={"MATRICULA":'1030',
        'VERSAO':1,
        'NOME': 'JONA LANDO',
        'CARGO': 'TECNICO INFO',
        'TELEFONE': ["953434344"],
        'DATA_ATUALIZAÇÃO': '202120101',
        'TIPO SANGUINIO':'O',
        'CNH': '243434544653'
    })

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '2',
   'content-type': 'application/x-amz-json-1.0',
   'date': 'Wed, 14 Apr 2021 23:09:34 GMT',
   'x-amz-crc32': '2745614147',
   'x-amzn-requestid': '854FF5J7R04CTO5J2JICU50UB7VV4KQNSO5AEMVJF66Q9ASUAAJG'},
  'HTTPStatusCode': 200,
  'RequestId': '854FF5J7R04CTO5J2JICU50UB7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'RetryAttempts': 0}}

In [9]:
table = dynamodb.Table("funcionario")
table.put_item(
   Item={"MATRICULA":'1040',
        'VERSAO':1,
        'NOME': 'JOAO SILVA',
        'CARGO': 'ANALISTA SENIOR',
        'TELEFONE': ["953434322"],
        'DATA_ATUALIZAÇÃO': '202120101',
        'TIPO SANGUINIO':'',
        'CNH': ' '
    })

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '2',
   'content-type': 'application/x-amz-json-1.0',
   'date': 'Wed, 14 Apr 2021 23:09:59 GMT',
   'x-amz-crc32': '2745614147',
   'x-amzn-requestid': '4LQHMTF5U7S1RRP1E5MOL9UT3RVV4KQNSO5AEMVJF66Q9ASUAAJG'},
  'HTTPStatusCode': 200,
  'RequestId': '4LQHMTF5U7S1RRP1E5MOL9UT3RVV4KQNSO5AEMVJF66Q9ASUAAJG',
  'RetryAttempts': 0}}

In [10]:
table = dynamodb.Table("funcionario")
table.put_item(
   Item={"MATRICULA":'1010',
        'VERSAO':2,
        'NOME': 'CLAYTON SOUZA',
        'CARGO': 'ANALISTA PLENO',
        'TELEFONE': ["22381823","2291012"],
        'DATA_ATUALIZAÇÃO': '202120101',
        'TIPO SANGUINIO':'B',
        'CNH': '343243232'
    })

{'ResponseMetadata': {'HTTPHeaders': {'content-length': '2',
   'content-type': 'application/x-amz-json-1.0',
   'date': 'Wed, 14 Apr 2021 23:10:25 GMT',
   'x-amz-crc32': '2745614147',
   'x-amzn-requestid': 'MLSP7O0IU6P4PRHPJHKS4ONJU7VV4KQNSO5AEMVJF66Q9ASUAAJG'},
  'HTTPStatusCode': 200,
  'RequestId': 'MLSP7O0IU6P4PRHPJHKS4ONJU7VV4KQNSO5AEMVJF66Q9ASUAAJG',
  'RetryAttempts': 0}}