## INSTALANDO E IMPORTANDO BIBLIOTECAS

In [ ]:
pip install boto3

In [ ]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17
sudo pip install pyodbc
sudo pip install sqlalchemy
sudo pip install s3fs

In [4]:

import boto3, sqlalchemy, pandas as pd, s3fs

## ACESSANDO NUVEM AWS

In [5]:
key="ASIA2HHNAVFEQJQK3COT"
secret="M2Pbu5bNM/gPwjIX97Fo4VdEZrf5GXeRNZF5vvay"
token="IQoJb3JpZ2luX2VjEJ7//////////wEaCXVzLXdlc3QtMiJIMEYCIQC0c14nxVzKgOMrJqhWvZBLnrmG/m1g8AS05OaMFjnfHgIhAN5tpfJwlj87clKoAbcM0zv4touSiWG5IdBW33wFCi3IKtMCCPf//////////wEQABoMNzAyNzI0MjIxMjU3IgwH/EUPRlxHHLTKy9wqpwKCrr3O86Tryiniw4zWrXcja6tEd02N8QAKiTdDMzFTd0Hz9NNOqg9Mad0EcLEyQHV1YXSDmj5c4n7ZbJ0lLcg6RYFM8ylDuwOWI9jaL6dJHZeq9q1w10b6eZ7Z0B+mGTu1ql6giN3pm7qHTd8PU/STQKLEU3QK+XCexM8vJgCr82OwiwONOHd2YNSVaYXgDHN/CW7c8YrBK3rOXiS73sf39XWCkoz5RbrYi7/Ht2jMgYqzwxFjRt/2iRMWHadqni3abAj3nBVxvCizCAL8xdMe5TlAt7HDFYusWRWRJojeGDXX7DEEGX9ozdbfDOuZa4gE+0jS5po3MPP2sN+trpah0JvYAIYbI6MPz5OABsGZuaNyIIPM3DrZzMv987TidNb4WNHEosKlMPXM3YMGOpwBd0RMqH0tyxxZAuNhusZ72P47IgF95ZVAUrvjA4tU1pgpYZSpelQSkwiGOJKSG1x9RVZlDAN+dklsBtOMn9XyofYtcswAPbERDrPa+UDyQgQLPs1P1lalSFIKahjgc9GUkd+zdZHCHVkfzSdHNbodofsShMI3/36Db+4IDABfzCI1MwG+KrT5RbkA8OPfmpz1aEVf93AjmeEj9/JG"

## CONECTANDO AO BUCKET S3 E CRIANDO O PRIMEIRO BUCKET

In [6]:
client_s3 = boto3.client('s3', aws_access_key_id=key,
                      aws_secret_access_key=secret,
                      aws_session_token=token, use_ssl=False)

In [7]:
resource_s3 = boto3.resource('s3', aws_access_key_id=key,
                      aws_secret_access_key=secret,
                      aws_session_token=token, use_ssl=False)

In [ ]:
# CRIANDO O BUCKET CHAMADO TÉCNICO
nome_bucket = 'bucket-chamado-tecnico-1905012'
client_s3.create_bucket(Bucket='bucket-chamado-tecnico-1905012')

{'Location': '/bucket-chamado-tecnico-1905012',
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '0',
   'date': 'Tue, 13 Apr 2021 23:40:11 GMT',
   'location': '/bucket-chamado-tecnico-1905012',
   'server': 'AmazonS3',
   'x-amz-id-2': 'cn33mbceEGf9oEUf/zJxDT+mrVln+hz6ucKtir+3FLRN8GNd/L1KiJd3gL2FybQdYeYKKSzbc28=',
   'x-amz-request-id': '0353JE1YZAHBN11H'},
  'HTTPStatusCode': 200,
  'HostId': 'cn33mbceEGf9oEUf/zJxDT+mrVln+hz6ucKtir+3FLRN8GNd/L1KiJd3gL2FybQdYeYKKSzbc28=',
  'RequestId': '0353JE1YZAHBN11H',
  'RetryAttempts': 0}}

In [ ]:
bucket = resource_s3.Bucket(nome_bucket)

In [ ]:
# AUTOMATIZANDO O UPLOAD DOS CSV´S 
import os
pasta = 'chamado_tecnico/'
for i in os.listdir(pasta):
  arquivo = pasta+i
  print(arquivo)
  bucket.upload_file(Filename=arquivo,Key=arquivo)

chamado_tecnico/tipo.csv
chamado_tecnico/chamado.xlsx
chamado_tecnico/venda.csv
chamado_tecnico/setor.csv
chamado_tecnico/categoria.csv
chamado_tecnico/cidade.csv
chamado_tecnico/unidade.csv
chamado_tecnico/chamado.csv
chamado_tecnico/clientes.csv
chamado_tecnico/equipes.csv
chamado_tecnico/estado.csv

##  CRIANDO CONEXÃO AO DATABASE CHAMADO TÉCNICO

In [ ]:
server =  'sql20211.cp1ri5jswsct.us-east-1.rds.amazonaws.com'
database = 'CHAMADO_TECNICO'
username = 'aluno'
password = 'aluno123'
con1 = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC Driver 17 for SQL Server"
engine = sqlalchemy.create_engine(con1)
engine.connect()

## UTILIZANDO A BILBIOTECA S3FS PARA ABRIR O BUCKET CRIADO NO S3

In [ ]:

fs = s3fs.S3FileSystem(key=key,
                       secret=secret,
                       token =token)

In [ ]:
fs.ls('bucket-chamado-tecnico-1905012')

['bucket-chamado-tecnico-1905012/chamado_tecnico']

In [ ]:
csv_categoria = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/categoria.csv')
csv_chamado = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/chamado.csv')
csv_cidade= fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/cidade.csv')
csv_clientes = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/clientes.csv')
csv_equipes = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/equipes.csv')
csv_estado= fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/estado.csv')
csv_setor = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/setor.csv')
csv_tipo = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/tipo.csv')
csv_unidade = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/unidade.csv')
csv_venda = fs.open('bucket-chamado-tecnico-1905012/chamado_tecnico/venda.csv')

## CRIANDO DATAFRAMES DOS CSV´S CRIADOS E FAZENDO UPLOAD AO DATABASE CHAMADO TÉCNICO.

In [ ]:
df_categoria = pd.read_csv(csv_categoria)
df_categoria.to_sql("categoria-1905012",engine,if_exists="append")

In [ ]:
df_chamado = pd.read_csv(csv_chamado)
df_categoria.to_sql("chamado-1905012",engine,if_exists="append")

In [ ]:
df_cidade = pd.read_csv(csv_cidade, delimiter="," , encoding="latin1")
df_categoria.to_sql("cidade-1905012",engine,if_exists="append")

In [ ]:
df_cliente = pd.read_csv(csv_clientes, delimiter="," , encoding="latin1")
df_categoria.to_sql("clinte-1905012",engine,if_exists="append")

In [ ]:
df_equipes = pd.read_csv(csv_equipes)
df_categoria.to_sql("equipes-1905012",engine,if_exists="append")

In [ ]:
df_estado = pd.read_csv(csv_estado)
df_categoria.to_sql("estado-1905012",engine,if_exists="append")

In [ ]:
df_setor = pd.read_csv(csv_setor)
df_categoria.to_sql("setor-1905012",engine,if_exists="append")

In [ ]:
df_tipo = pd.read_csv(csv_tipo, delimiter="," , encoding="latin1")
df_categoria.to_sql("tipo-1905012",engine,if_exists="append")

In [ ]:
df_unidade = pd.read_csv(csv_unidade)
df_categoria.to_sql("unidade-1905012",engine,if_exists="append")

In [ ]:

df_venda = pd.read_csv(csv_venda, delimiter="," , encoding="latin1")
df_categoria.to_sql("venda-1905012",engine,if_exists="append")

# PARTE 2 CONECTANDO O DATABASE MÁQUINAS

In [8]:
server =  'sql20211.cp1ri5jswsct.us-east-1.rds.amazonaws.com'
database = 'MAQUINAS'
username = 'aluno'
password = 'aluno123'
con2 = f"mssql+pyodbc://{username}:{password}@{server}/{database}?driver=ODBC Driver 17 for SQL Server"
engine1 = sqlalchemy.create_engine(con2)
engine1.connect()

In [9]:
# CRIANDO UM DATAFRAME PRINCIPAL PARA VIZUALIZAR AS PASTAS DO BANCO.
df2 = pd.read_sql('SELECT * FROM INFORMATION_SCHEMA.TABLES', engine1)

In [10]:
df2.head()

  TABLE_CATALOG TABLE_SCHEMA TABLE_NAME  TABLE_TYPE
0      MAQUINAS          dbo     ESTADO  BASE TABLE
1      MAQUINAS          dbo     CIDADE  BASE TABLE
2      MAQUINAS          dbo   ENDERECO  BASE TABLE
3      MAQUINAS          dbo    CLIENTE  BASE TABLE
4      MAQUINAS          dbo     PEDIDO  BASE TABLE

In [15]:
# IMPORTANDO AS TABELAS E TRANSFORMANDO EM CSV EM UMA PASTA DO DRIVE
df_ESTADO = pd.read_sql( "select * from ESTADO",engine1)
df_ESTADO.to_csv("/content/bucket_maquinas/df_ESTADO.csv", index=False)

df_CIDADE = pd.read_sql( "select * from CIDADE",engine1)
df_CIDADE.to_csv("/content/bucket_maquinas/df_CIDADE.csv", index=False)

df_ENDERECO = pd.read_sql( "select * from ENDERECO",engine1)
df_ENDERECO.to_csv("/content/bucket_maquinas/df_ENDERECO.csv", index=False)

df_CLIENTE = pd.read_sql( "select * from CLIENTE",engine1)
df_CLIENTE.to_csv("/content/bucket_maquinas/df_CLIENTE.csv", index=False)

df_PEDIDO = pd.read_sql( "select * from PEDIDO",engine1)
df_PEDIDO.to_csv("/content/bucket_maquinas/df_PEDIDO.csv", index=False)

## PARTE 2.1 CRIANDO O NOVO BUCKET NO S3 - BUCKET MAQUINAS

In [ ]:
nome_bucket = 'bucket-maquinas-1905012'
client_s3.create_bucket(Bucket='bucket-maquinas-1905012')

In [17]:
bucket = resource_s3.Bucket(nome_bucket)

In [19]:
# UTILIZANDO AUTOMATIZAÇÃO PARA SUBIR OS CVS´S AO NOVO BUCKET.
import os
pasta = 'bucket_maquinas/'
for i in os.listdir(pasta):
  arquivo = pasta+i
  print(arquivo)
  bucket.upload_file(Filename=arquivo,Key=arquivo)

bucket_maquinas/df_PEDIDO.csv
bucket_maquinas/df_CLIENTE.csv
bucket_maquinas/df_ESTADO.csv
bucket_maquinas/df_CIDADE.csv
bucket_maquinas/df_ENDERECO.csv